.cabezera {
    border: 1Px;
    /* border-radius: 5px; */
    background: #1565c0;
    /* display: flex; */
    color: white;
    /* height: 10px; */
    overflow: hidden;

  
}

.pie {
  border: 1Px;
  /* border-radius: 5px; */
  background: black;
  /* display: flex; */
  color: white;
  /* height: 10px; */
  overflow: hidden;


}


.top-left {
    float: left;
    /* margin-left: 100px; */
    margin: 10px 0px 0px 200px;
}

.top-left a {
  color: white;
  text-decoration: none;
  padding: 50px 2px 8px 2px;
  /* margin: 105px 0px 0px 120px; */
  /* border: 1px black solid ; */

}

.top-right {
    float: right;
    margin: 0px 20px 0px 0px;
}


.top-right ul {
  list-style: none;
  display: flex;
  padding: 8px 0px 8px 0px;
  margin: 0px;
}

.top-right ul li {
  margin-left: 30px;
}

.top-right ul li a {
  color: white;
  text-decoration: none;
  padding: 8px 2px 8px 2px;
}

.top-right ul li a:hover {
    background: rgba(79, 95, 235, 0.692);
}


